/*
 * Globals
 */

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;400;700&family=Reenie+Beanie&family=Patrick+Hand&display=swap');

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}
html,
body {
	height:100%;
}
body {
	background-color:#000;
	animation-name:color;
	animation-duration:5s;
	animation-iteration-count:infinite;
	display:flex;
	align-items:center;
	padding-top:40px;
	padding-bottom:40px;
}
.logo,.face {
	border:0;
	width:75%;
	height:100%;
}
.logo {
	opacity:1;
	display:inline-block;
	transition:1s ease;
	backface-visiblity:hidden;
	border-radius:10%;
}
.logo:hover,.logo:active {
	opacity:0.1;
}
.face {
	transition:1s ease;
	opacity:0;
	margin-top:-67%;
	border-radius:10%;
}
.face:hover,.logo:active {
	opacity:1;
}

@keyframes color {
	0% {
		background-color:#000;
	}
	50% {
		background-color:#800b80;
	}
	100 {
		background-color:#000;
	}
}