@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;400;700&family=Reenie+Beanie&family=Patrick+Hand&display=swap');

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}
html,body {
	height:100%;
}
body {
	background-color:#030303;
	font-family:'Jost', sans-serif;
	display:flex;
	align-items:center;
}
.head {
	margin-right:2%;
}
.head-text a {
	border:dashed 2px !important;
}
.head-text a:hover {
	border:solid 2px !important;
}
.logo {
	border:0;
	width:100%;
	height:auto;
}
.view-desktop {
	display:block;
}
.view-mobile {
	display:none;
}
@media (max-width:991px) {
	.view-desktop {
		display:none;
	}
	.view-mobile {
		display:block;
	}
	.head {
		margin-bottom:5%;
	}
}