/*
 * Globals
 */

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* Links */
a,
a:focus,
a:hover,
a:active {
  color:#fff;
  font-weight:400;
  text-decoration:none;
  border-bottom:dashed 1px #fff;
}

a.clean,
a.clean:focus,
a.clean:hover,
a.clean:active {
  border-bottom:none;
}

/*
 * Base structure
 */

html,
body {
  background-color:#030303;
  font-family:'Poppins', sans-serif;
  font-weight:300;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
body {
  display:-ms-flexbox;
  display:-webkit-box;
  display:flex;
  -ms-flex-pack:center;
  -webkit-box-pack:center;
  justify-content:center;
  color:#ebebeb;
  text-shadow:0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow:inset 0 0 5rem rgba(0, 0, 0, .5);
  overflow:auto;
}
.view-desktop {
	display:block;
}
.view-mobile {
	display:none;
}
.br-10 {
  border-radius:10%;
}
h3 {
  font-size:1.75em;
  font-weight:400;
}
h2 {
  font-family:'Poppins', serif;
  font-size:4em;
  margin-bottom:30px;
  font-weight:700;
  background:linear-gradient(-5deg, #3293c0 40%, #00fbf7 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header {
  background:rgba(3,3,3,0.8);
  left:0;
  padding:12px;
  position:fixed;
  top:0;
  width:100%;
  z-index:500;
}
.head-logo-block {
  text-align:left;
}
.header-logo {
  height:50px
}
.nav-item {
  display:inline-block;
  margin-right:15px;
}
.header-alt {
  font-family:'Poppins', sans-serif;
  font-size:0.5em;
  line-height:0.5em;
}
.hero-img {
  border-radius:25px;
  margin-bottom:20px;
  width:100%;
}
.img-header {
  width:100%;
  height:auto;
}
.img {
  width:100%;
  height:auto;
}
.img-coming-soon {
  width:100%;
  height:auto;
  margin:0 auto 40px;
}
.pfp-img {
  border-radius:25%;
  width:350px;
}
.pfp-name {
  font-size:1.5em;
  font-weight:700;
}
.pfp-title {
  font-size:1em;
}
.cover-container {
  width:90%;
}
.mbot20 {
  margin-bottom:20px;
}
.mtop50 {
  margin-top:50px;
}
.mtop100 {
  margin-top:100px;
}
.divider {
  margin:150px auto;
  border:8px #222;
  border-style:none none dashed none;
}
.block-text-left {
  text-align:left;
}
.text-subset {
  font-size:0.7em;
}

/*
 * Header
 */
.nav-link {
  padding:.25rem 0;
  font-weight:400;
  border-bottom:none;
}

.nav-link:hover,
.nav-link:focus {
  border:none;
}

.social-links {
  height:25px;
  width:auto;
}
.header-text-main {
  line-height:0.5em;
  margin-bottom:50px;
}

.logo-block {
  margin-top:150px;
}

main {
  margin-top:150px;
}

.man-block {
  background:#3293c0;
  background: -webkit-linear-gradient(45deg, #030303 40%, #3293c0 130%);
  border-radius:25px;
  padding:30px;
}
.lab-block {
  background:#3293c0;
  background: -webkit-linear-gradient(45deg, #030303 65%, #3293c0 130%);
  border-radius:25px;
  padding:30px;
}
.faq-ques {
  font-weight:700;
}
.faq-ans {
  font-weight:200;
  display:none;
  margin-top:20px;
}
.faq-block {
  background:#030303;
  border:1px dashed #aaa;
  border-radius:5px;
  cursor:pointer;
  margin-bottom:20px;
  padding:20px;
  text-align:start;
}
.faq-block a,
.faq-block a:focus,
.faq-block a:hover,
.faq-block a:active {
  color:#030303;
  font-weight:400;
  text-decoration:none;
  border-bottom:dashed 1px #030303;
}
.tri-reveal {
  margin:20px auto 0;
  position:relative;
}
.tri-reveal img {
  height:1000px;
  width:auto;
}
.ticker-image {
  margin:40px;
  border-radius:25px;
  height:450px;
}

/*
 * Roadmap
 */

.roadmap-block {
  width: 100%;
  float: left;
  position: relative;
}
.roadmap-block:before {
  width: 2px;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -1px;
  background: #eee;
  content: " ";
}
.roadmap-block .roadmap-item {
  width: 100%;
  float: left;
  padding: 30px 0;
  position: relative;
}
.roadmap-block .roadmap-item .road-left {
  width: calc(50% - 50px);
  float: left;
  text-align: right;
  position: sticky;
  padding: 12px 0;
  top: 70px;
  z-index: 9;
}
.roadmap-block .roadmap-item .road-left .rlPhase {
  width: 100%;
  float: left;
  font-size: 42px;
  color: #eee;
  font-weight: 700;
}
.roadmap-block .roadmap-item .road-left .rlDate {
  width: 100%;
  float: left;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
}
.roadmap-block .roadmap-item .road-left .road-header {
  width: 100%;
  float: left;
  font-size: 30px;
  font-weight: 700;
  color: #eee;
}
.roadmap-block .roadmap-item .road-left:before {
  width: 28px;
  height: 28px;
  position: absolute;
  right: -64px;
  top: 20px;
  background: #eee;
  border: 5px solid #030303;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: " ";
}
.roadmap-block .roadmap-item .road-right {
  width: calc(50% - 50px);
  float: right;
  position: relative;
  margin-top:12px;
  text-align:left;
}
.roadmap-block .roadmap-item .road-block {
  width: 100%;
  float: left;
}
.roadmap-block .roadmap-item .road-block .road-desc {
  width: 100%;
  float: left;
  font-size: 1.5em;
  color: #eee;
  margin-bottom: 20px;
}

@media (max-width:450px) {
	.roadmap-header {
		width:50%;
	}
}

/*
 * Footer
 */

.footer-alert {
  margin:20px 0 100px;
}
.footer-notice {
  font-size:1.75em;
  padding:20px 0;
}
.mastfoot {
  color:rgba(255, 255, 255, .5);
}
.footer-img img {
  width:100%;
  height:100%;
}
.menu-items-mobile {
  display:none;
}

@media (max-width:1355px) {
	p {
    font-size:1em;
  }
}
@media (max-width:1200px) {
  .tri-reveal img {
    height:auto;
    width:800px;
  }
}
@media (max-width:991px) {
  .menu {
    font-size:2.3em;
    margin-right:20px;
  }
  .blackout {
    color:#030303!important;
  }
  .menu-items-mobile {
    background:rgba(0,0,0,0.7);
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:1000;
    padding-top:50%;
  }
  .menu-close {
    font-size: 3em;
    position: absolute;
    top: 8px;
    left: 28px;
  }
  .nav-item {
    display:block;
  }
  .menu-items-mobile div {
    margin-bottom:20px;
  }
  main {
    margin-top:20%;
  }
  .view-desktop {
		display:none;
	}
	.view-mobile {
		display:block;
	}
  h2 {
    font-size:3em;
  }
  .img-coming-soon {
    margin:0 auto 10px;
  }
  .block-text-left {
    margin-left:0;
  }
  .block div {
    margin-top:20px;
  }
  .footer-notice {
    font-size:1.25em;
  }
  #btn-top {
    bottom:5%;
    right:5%;
  }
  .logo-block {
    margin-top:40px;
  }
  .divider {
    margin:40px auto;
  }
  .faq-ans {
    margin-top:0;
  }
  .carousel-item img {
    width:100%;
  }
}
@media (max-width:575px) {
  .art-block {
    width:350px;
  }
}