@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

a,
a:focus,
a:hover,
a:active,
a:visited {
  color:#fff;
  font-weight:400;
  text-decoration:none;
  border-bottom:dashed 1px #fff;
}

a.noborder,
a.noborder:focus,
a.noborder:hover,
a.noborder:active,
a.noborder:visited {
  border:none;
}

.textOverflow, .mainPopup .mpcTitle .title, .teamBoxes .teamBox .tbName, .bannerBand .bbItem .bbiVal, .bannerBand .bbItem .bbiLeft {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.transitionP2, .header .mainMenu li:before {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.transitionP4, .mainPopup .mpContent, .mainPopup .mpFilter, .header .mainMenu li, .header .headerRight, .header .logo, .header .mobileMenuTrigger, .header {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.transitionP6 {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.redColor,
.darkColor {
  color: #333333 !important;
}

.boldText {
  font-weight: 600 !important;
}

.orangeColor {
  color: orange !important;
}

.fs11 {
  font-size: 11px !important;
}

.fs12 {
  font-size: 12px !important;
}

.fs13 {
  font-size: 13px !important;
}

.fs14 {
  font-size: 14px !important;
}

.fs15 {
  font-size: 15px !important;
}

.fs16 {
  font-size: 16px !important;
}

.fs17 {
  font-size: 17px !important;
}

.fs18 {
  font-size: 18px !important;
}

.fs19 {
  font-size: 19px !important;
}

.fs20 {
  font-size: 20px !important;
}

.fs21 {
  font-size: 21px !important;
}

.fs22 {
  font-size: 22px !important;
}

.fs23 {
  font-size: 23px !important;
}

.fs24 {
  font-size: 24px !important;
}

.fs25 {
  font-size: 25px !important;
}

.fs26 {
  font-size: 26px !important;
}

.fs27 {
  font-size: 27px !important;
}

.fs28 {
  font-size: 28px !important;
}

.fs29 {
  font-size: 29px !important;
}

.fs30 {
  font-size: 30px !important;
}

.fl {
  float: left !important;
}

.fr {
  float: right !important;
}

.tl {
  text-align: left !important;
}

.tc {
  text-align: center !important;
}

.tr {
  text-align: right !important;
}

.vm tr td {
  vertical-align: middle !important;
}

.vt tr td {
  vertical-align: top !important;
}

.vb tr td {
  vertical-align: bottom !important;
}

.vt {
  vertical-align: top !important;
}

.vm {
  vertical-align: middle !important;
}

.vb {
  vertical-align: bottom !important;
}

.p0 {
  padding: 0 !important;
}

.p5 {
  padding: 5px !important;
}

.p10 {
  padding: 10px !important;
}

.p20 {
  padding: 20px !important;
}

.pt0 {
  padding-top: 0 !important;
}

.pt5 {
  padding-top: 5px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pr0 {
  padding-right: 0 !important;
}

.pr5 {
  padding-right: 5px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.pb5 {
  padding-bottom: 5px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.pl0 {
  padding-left: 0 !important;
}

.pl5 {
  padding-left: 5px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.m0 {
  margin: 0 !important;
}

.m5 {
  margin: 5px !important;
}

.m10 {
  margin: 10px !important;
}

.m20 {
  margin: 20px !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mr0 {
  margin-right: 0 !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.ml0 {
  margin-left: 0 !important;
}

.ml5 {
  margin-left: 5px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.ml20 {
  margin-left: 20px !important;
}

@-webkit-keyframes gradientAnim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradientAnim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes verseImageAnim {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes verseImageAnim {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes opacityAnim {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacityAnim {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes halfOpacityAnim {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}
@keyframes halfOpacityAnim {
  0% {
    opacity: 0.4;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  50% {
    opacity: 0.1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0.4;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}
@-webkit-keyframes skyAnim {
  0% {
    background-position: 0 top;
  }
  100% {
    background-position: 2000px top;
  }
}
@keyframes skyAnim {
  0% {
    background-position: 0 top;
  }
  100% {
    background-position: 2000px top;
  }
}
body {
  background: #111219;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  min-width: 320px;
}

.main {
  width: 100%;
  height: auto;
  float: left;
}

.centerAligner {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  padding: 0 20px;
  min-width: 320px;
}
.header.scrolled {
  padding: 0 10px;
  background: rgba(17, 18, 25, 0.8);
}
.header.scrolled .logo {
  width: 160px;
}
.header.scrolled .headerRight {
  margin: 10px 0;
}
.header.scrolled .mainMenu li {
  margin: 0 12px;
}
.header.scrolled .mobileMenuTrigger {
  margin: 10px 10px 10px 0;
}
.header .mobileMenuTrigger {
  display: none;
}
.header .logo {
  width: 230px;
  float: left;
  cursor: pointer;
}
.header .logo img {
  width: 100%;
}
.header .headerRight {
  width: auto;
  height: 50px;
  float: right;
  margin: 25px 0;
}
.header .headerRight .mmClose {
  display: none;
}
.header .mainMenu {
  width: auto;
  float: left;
}
.header .mainMenu li {
  width: auto;
  height: 50px;
  float: left;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 700;
  margin: 0 15px;
  line-height: 50px;
  cursor: pointer;
  position: relative;
}
.header .mainMenu li:before {
  width: 0;
  height: 3px;
  position: absolute;
  left: 50%;
  bottom: 0;
  content: " ";
  background: -webkit-gradient(linear, left top, right top, from(rgb(50, 147, 192)), to(rgb(0, 251, 247)));
  background: linear-gradient(90deg, rgb(50, 147, 192) 0%, rgb(0, 251, 247) 100%);
  border-radius: 2px;
  content: " ";
}
.header .mainMenu li:hover {
  color: #fff;
}
.header .mainMenu li:hover:before {
  width: 100%;
  left: 0;
}

.footerMain {
  width: 100%;
  height: auto;
  float: left;
  text-align: center;
  padding: 50px 15px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 17px;
}

.mainBanner {
  width: 100%;
  min-height: calc(100vh - 90px);
  float: left;
  background: linear-gradient(-45deg, #0d0d0d, #0d0d0d, #2E0035, #010E38, #450C01, #0d0d0d, #0d0d0d);
  background-size: 400% 400%;
  position: relative;
  overflow: hidden;
  -webkit-animation: gradientAnim 45s ease infinite;
          animation: gradientAnim 45s ease infinite;
}
.mainBanner .bannerLogo {
  width: calc(38% - 20px);
  top: 160px;
  right: 50px;
  height: calc(100% - 255px);
  position: absolute;
  background: url(tri-reveal.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-radius:25px;
}
.mainBanner .centerAligner {
  position: relative;
}
.mainBanner .bannerContent {
  width: 50%;
  float: left;
  z-index: 9;
  padding-top: 15%;
  padding-bottom: 50px;
}
.mainBanner .bannerContent .bct1 {
  font-size: 50px;
  line-height: 75px;
  color: #fff;
  font-weight: 100;
  width: 100%;
  float: left;
}
.mainBanner .bannerContent .bct2 {
  font-size: 58px;
  line-height: 68px;
  color: #fff;
  font-weight: 600;
  width: 100%;
  float: left;
}
.mainBanner .bannerContent .bct3 {
  font-size: 90px;
  line-height: 100px;
  color: #fff;
  font-weight: 600;
  width: 100%;
  float: left;
}
.mainBanner .bannerContent .bannerButtons {
  width: 100%;
  float: left;
  margin: 20px 0;
}
.mainBanner .bannerContent .bannerButtons .bbBt {
  width: auto;
  height: 50px;
  float: left;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  line-height: 46px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  padding: 0 20px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.mainBanner .bannerContent .bannerButtons .bbBt img {
  height: 24px;
}
.mainBanner .bannerContent .bannerButtons .bbBt:hover {
  background: rgba(255, 255, 255, 0.1);
}
.mainBanner .bannerContent .bannerButtons .bbBt.hlBt {
  background: -webkit-gradient(linear, left top, right top, from(rgb(50, 147, 192)), to(rgb(0, 251, 247)));
  background: linear-gradient(90deg, rgb(50, 147, 192) 0%, rgb(0, 251, 247) 100%);
  border: none;
  line-height: 50px;
}
.mainBanner .bannerContent .bannerButtons .bbBt.hlBt:hover {
  opacity: 0.8;
}
.mainBanner .bannerContent .bcText {
  width: 100%;
  float: left;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 40px;
}
.mainBanner .bannerContent .bcText span {
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}
.mainBanner .bannerContent .bcText span:hover {
  text-decoration: none;
}

.bannerBand {
  width: 100%;
  float: left;
  padding: 10px 0;
  background: rgb(50, 147, 192);
  background: -webkit-gradient(linear, left top, right top, from(rgb(50, 147, 192)), to(rgb(0, 251, 247)));
  background: linear-gradient(90deg, rgb(50, 147, 192) 0%, rgb(0, 251, 247) 100%);
}
.bannerBand .bbItem {
  width: 25%;
  height: 60px;
  float: left;
  border-right: 2px solid rgba(0, 0, 0, 0.3);
  padding: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.bannerBand .bbItem:last-child {
  border: none;
}
.bannerBand .bbItem .bbiLeft {
  width: auto;
  font-size: 13px;
  color: #111219;
  font-weight: 500;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.bannerBand .bbItem .bbiVal {
  width: auto;
  font-size: 30px;
  color: #111219;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.topGradientShadow {
  width: 100%;
  height: 50px;
  position: absolute;
  -webkit-perspective: 200px;
          perspective: 200px;
  top: -48px;
  left: 0;
}
.topGradientShadow:before {
  width: 92%;
  height: 50px;
  position: absolute;
  left: 4%;
  top: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(255, 255, 255)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-transform: rotateX(30deg);
          transform: rotateX(30deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  content: " ";
}

.collectionWidget {
  width: 100%;
  height: auto;
  padding: 70px 50px 0 50px;
  float: left;
  overflow: hidden;
  position: relative;
}
.collectionWidget .skyBg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.5;
  /*background: url("../img/sky-bg.png") left top repeat-x;*/
  -webkit-animation: skyAnim 300s linear infinite;
          animation: skyAnim 300s linear infinite;
}
.collectionWidget .collectionImages {
  width: 100%;
  float: left;
}
.collectionWidget .cRow1 {
  width: 100%;
  height: auto;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.collectionWidget .cRow1:before {
  width: 100%;
  height: 20%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgb(17, 18, 25);
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(17, 18, 25)), to(rgba(17, 18, 25, 0)));
  background: linear-gradient(0deg, rgb(17, 18, 25) 0%, rgba(17, 18, 25, 0) 100%);
  content: " ";
  z-index: 2;
}
.collectionWidget .cRow1 img {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
}
.collectionWidget .cRow1 > div {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
  position: relative;
}
.collectionWidget .cRow1 > div:before {
  width: 100%;
  padding-top: 58%;
  float: left;
  content: " ";
}
.collectionWidget .cRow1 .cr1-1 {
  width: 75%;
  z-index: 1;
}
.collectionWidget .cRow1 .cr1-2 {
  width: 20%;
  z-index: 1;
}
.collectionWidget .cRow2 {
  width: 100%;
  height: auto;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2;
  margin-top: -5%;
}
.collectionWidget .cRow2 img {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
}
.collectionWidget .cRow2 > div {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
  position: relative;
}
.collectionWidget .cRow2 > div:before {
  width: 100%;
  padding-top: 92%;
  float: left;
  content: " ";
}
.collectionWidget .cRow2 .cr2-1 {
  width: 12%;
  margin: 0 -4%;
  opacity: 0.7;
}
.collectionWidget .cRow2 .cr2-1 img {
  bottom: 5%;
}
.collectionWidget .cRow2 .cr2-2 {
  width: 13.5%;
  margin: 0 -2%;
}
.collectionWidget .cRow2 .cr2-2 img {
  bottom: 3%;
}
.collectionWidget .cRow2 .cr2-3 {
  width: 13.5%;
  margin: 0 -2%;
}
.collectionWidget .cRow2 .cr2-3 img {
  bottom: 2%;
}
.collectionWidget .cRow2 .cr2-4 {
  width: 15%;
  margin: 0 -2%;
}
.collectionWidget .cRow2 .cr2-4 img {
  bottom: 1%;
}
.collectionWidget .cRow2 .cr2-5 {
  width: 17%;
  margin: 0 -1%;
  z-index: 5;
}
.collectionWidget .cRow2 .cr2-6 {
  width: 15%;
  margin: 0 -2%;
  z-index: 4;
}
.collectionWidget .cRow2 .cr2-6 img {
  bottom: 1%;
}
.collectionWidget .cRow2 .cr2-7 {
  width: 13.5%;
  margin: 0 -2%;
  z-index: 3;
}
.collectionWidget .cRow2 .cr2-7 img {
  bottom: 2%;
}
.collectionWidget .cRow2 .cr2-8 {
  width: 13.5%;
  margin: 0 -2%;
  z-index: 2;
}
.collectionWidget .cRow2 .cr2-8 img {
  bottom: 3%;
}
.collectionWidget .cRow2 .cr2-9 {
  width: 12%;
  margin: 0 -4%;
  z-index: 1;
  opacity: 0.7;
}
.collectionWidget .cRow2 .cr2-9 img {
  bottom: 5%;
}
.collectionWidget .collectionBox {
  width: 100%;
  height: auto;
  float: left;
  margin-top: 10px;
  background: rgb(30, 181, 110);
  background: -webkit-gradient(linear, left top, right top, from(rgb(30, 181, 110)), to(rgb(20, 254, 220)));
  background: linear-gradient(90deg, rgb(30, 181, 110) 0%, rgb(20, 254, 220) 100%);
  position: relative;
  border-radius: 15px;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.collectionWidget .collectionBox .topGradientShadow:before {
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(39, 129, 106)), to(rgba(39, 129, 106, 0)));
  background: linear-gradient(0deg, rgb(39, 129, 106) 0%, rgba(39, 129, 106, 0) 100%);
}
.collectionWidget .collectionBox .tgbLeft {
  width: auto;
  float: left;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-right: 2px solid #111219;
  font-size: 34px;
  font-weight: 700;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 30px;
  white-space: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.collectionWidget .collectionBox .tgbRight {
  width: auto;
  float: left;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #111219;
  font-size: 15px;
}
.collectionWidget .collectionBox .tgbRight .tgbMore {
  text-decoration: underline;
  color: #111219;
  cursor: pointer;
}
.collectionWidget .collectionBox .tgbRight .tgbMore:hover {
  text-decoration: none;
}
.collectionWidget .collectionBox .tgbRight .tgbMoreText {
  display: none;
}
.collectionWidget .cbAnimated {
  width: 100%;
  height: auto;
  float: left;
  margin-top: -15px;
  margin-bottom: 20px;
  text-align: center;
}
.collectionWidget .cbAnimated .cba {
  width: 300px;
  max-width: 80%;
  height: auto;
  display: inline-block;
  padding: 15px;
  border-radius: 50%;
  background: #14fedc;
  position: relative;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.collectionWidget .cbAnimated .cba img {
  width: 100%;
  border-radius: 50%;
}

.daoContainer {
  width: 100%;
  height: auto;
  float: left;
  min-height: 745px;
  position: relative;
}
.daoContainer .daoBg {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  background: url(bg-degenlab.jpg) right bottom no-repeat;
  -webkit-animation: halfOpacityAnim 10s ease infinite;
          animation: halfOpacityAnim 10s ease infinite;
}
.daoContainer .daoWrapper {
  width: 100%;
  float: left;
  position: relative;
  z-index: 1;
}
.daoContainer .daoImg {
  max-width: 44%;
  float: left;
}
.daoContainer .daoImg img {
  max-width: 100%;
}
.daoContainer .daoContent {
  width: 40%;
  float: right;
  margin: 10% 12% 10% 0;
}

.mainTitle {
  width: 100%;
  float: left;
  position: relative;
  margin: 20px 0;
}
.mainTitle:before {
  width: 90px;
  height: 2px;
  position: absolute;
  left: -70px;
  bottom: 0;
  background-color: #3d3d3d;
  content: " ";
}
.mainTitle:after {
  width: 2px;
  height: 90px;
  position: absolute;
  left: -25px;
  bottom: -45px;
  background-color: #3d3d3d;
  content: " ";
}
.mainTitle .title {
  width: auto;
  display: inline-block;
  font-size: 52px;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, right top, from(rgb(50, 147, 192)), to(rgb(0, 251, 247)));
  background: linear-gradient(90deg, rgb(50, 147, 192) 0%, rgb(0, 251, 247) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mainTitle.tc:before, .mainTitle.tc:after {
  display: none;
}

.textContainer {
  width: 100%;
  float: left;
  font-size: 17px;
  color: #fff;
  font-weight: 500;
  margin: 10px 0;
}
.textContainer span {
  text-decoration: underline;
  cursor: pointer;
}
.textContainer span:hover {
  text-decoration: none;
}

.ecoContainer {
  width: 100%;
  float: left;
  min-height: 580px;
  padding: 0 30px;
  overflow: hidden;
  position: relative;
}
.ecoContainer .eccBg {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  /*background: url("../img/eco-bg.png") right bottom no-repeat;*/
  -webkit-animation: halfOpacityAnim 7s ease-in-out infinite;
          animation: halfOpacityAnim 7s ease-in-out infinite;
}
.ecoContainer .eccWrapper {
  width: 100%;
  float: left;
  position: relative;
}
.ecoContainer .textContainer {
  padding: 0 17%;
}

.centerIcon {
  width: 100%;
  float: left;
  text-align: center;
}

.centerButton {
  width: 100%;
  float: left;
  text-align: center;
  margin: 20px 0;
}
.centerButton .cbBt {
  width: auto;
  height: 50px;
  display: inline-block;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  line-height: 46px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  padding: 0 20px;
}
.centerButton .cbBt:hover {
  background: rgba(255, 255, 255, 0.1);
}

.verseContainer {
  width: calc(100% - 100px);
  float: left;
  border-radius: 20px;
  margin: 0 50px;
  background: linear-gradient(-30deg, #794cbe, #232325, #232325);
}
.verseContainer .verseLeft {
  width: 43%;
  float: left;
  padding: 90px 120px;
}
.verseContainer .verseRight {
  width: 55%;
  float: right;
  position: relative;
}
.verseContainer .verseRight img {
  width: 96%;
  margin-top:28px;
}

.charityContainer {
  width: 100%;
  float: left;
  margin: 30px 0 90px 0;
  padding: 0 70px;
}
.charityContainer .charityWrapper {
  max-width: 1680px;
  width: 100%;
  margin: 0 auto;
}
.charityContainer .card {
  width: 413px;
  float: left;
  position: relative;
}
.charityContainer .card img {
  width: 100%;
}
.charityContainer .card .card3,
.charityContainer .card .card2,
.charityContainer .card .card1 {
  position: absolute;
  left: 0;
  top: 0;
}
.charityContainer .card .card1 {
  -webkit-animation: opacityAnim 5s ease-in-out infinite;
          animation: opacityAnim 5s ease-in-out infinite;
}
.charityContainer .card .card2 {
  -webkit-animation: opacityAnim 6s ease-in-out infinite;
          animation: opacityAnim 6s ease-in-out infinite;
}
.charityContainer .card .card3 {
  -webkit-animation: opacityAnim 7s ease-in-out infinite;
          animation: opacityAnim 7s ease-in-out infinite;
}
.charityContainer .charityRight {
  width: calc(100% - 610px);
  float: right;
  padding-right: 10%;
  padding-top: 5%;
}
.charityContainer .charityBox {
  width: 100%;
  height: auto;
  float: left;
  background: #f9f9fb;
  position: relative;
  border-radius: 15px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}
.charityContainer .charityBox .topGradientShadow:before {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0));
}
.charityContainer .charityBox .cbLeft {
  width: 210px;
  float: left;
  line-height: 20px;
  font-size: 14px;
  color: #111219;
  padding-top: 7px;
  font-weight: 500;
}
.charityContainer .charityBox .cbLeft .title {
  font-weight: bold;
  font-size: 20px;
}
.charityContainer .charityBox .cbRight {
  width: calc(100% - 210px);
  float: right;
}
.charityContainer .charityBox .cbRight .cbrItem {
  width: auto;
  display: inline-block;
  text-align: center;
  margin-right: 5px;
}

.roadmapContainer {
  width: 100%;
  height: auto;
  float: left;
  /*background: url("../img/roadmapBg.png") center top no-repeat;*/
  min-height: 250px;
  padding-top: 50px;
}
.roadmapContainer .centerAligner {
  max-width: 1100px;
}

.rmWrapper {
  width: 100%;
  float: left;
  position: relative;
}
.rmWrapper:before {
  width: 2px;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -1px;
  background: #6e6e6e;
  content: " ";
}
.rmWrapper .rmItem {
  width: 100%;
  float: left;
  padding: 30px 0;
  position: relative;
}
.rmWrapper .rmItem .rmiLeft {
  width: calc(50% - 50px);
  float: left;
  text-align: right;
  position: sticky;
  padding: 12px 0;
  top: 70px;
  background: #111219;
  z-index: 9;
}
.rmWrapper .rmItem .rmiLeft .rlPhase {
  width: 100%;
  float: left;
  font-size: 42px;
  color: #fff;
  font-weight: 700;
}
.rmWrapper .rmItem .rmiLeft .rlDate {
  width: 100%;
  float: left;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
}
.rmWrapper .rmItem .rmiLeft .rlTitle {
  width: 100%;
  float: left;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}
.rmWrapper .rmItem .rmiLeft:before {
  width: 28px;
  height: 28px;
  position: absolute;
  right: -64px;
  top: 20px;
  background: #fff;
  border: 5px solid #111219;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: " ";
}
.rmWrapper .rmItem .rmiRight {
  width: calc(50% - 50px);
  float: right;
  position: relative;
}
.rmWrapper .rmItem .rrBox {
  width: 100%;
  float: left;
  margin-bottom: 40px;
}
.rmWrapper .rmItem .rrBox .rrbTitle {
  width: 100%;
  float: left;
  font-size: 26px;
  color: #fff;
}
.rmWrapper .rmItem .rrBox .rrbText {
  width: 100%;
  float: left;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}

.teamContainer {
  width: 100%;
  float: left;
  min-height: 390px;
  /*background: url("../img/team-bg.png") center top no-repeat;*/
  margin: 70px 0;
  padding-top: 40px;
}
.teamContainer .textContainer {
  padding: 0 15px;
}

.teamBoxes {
  width: 100%;
  float: left;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 30px 0;
}
.teamBoxes .teamBox {
  width: 25%;
  min-height: 80px;
  float: left;
  position: relative;
  padding-left: 95px;
  padding-top: 10px;
  margin: 20px 0;
}
.teamBoxes .teamBox .tbIcon {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 0;
  top: 0;
  background: #232325;
  border-radius: 50%;
  overflow: hidden;
}
.teamBoxes .teamBox .tbIcon img {
  width: 100%;
}
.teamBoxes .teamBox .tbName {
  width: 100%;
  float: left;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}
.teamBoxes .teamBox .tbTitle {
  width: 100%;
  float: left;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

.faqContainer {
  width: 100%;
  float: left;
}

.faqItem {
  width: 100%;
  height: auto;
  float: left;
  border-radius: 20px;
  margin: 10px 0;
  background: rgb(50, 147, 192);
  background: -webkit-gradient(linear, left top, right top, from(rgb(50, 147, 192)), to(rgb(0, 251, 247)));
  background: linear-gradient(90deg, rgb(50, 147, 192) 0%, rgb(0, 251, 247) 100%);
  padding: 25px 30px;
}
.faqItem .faqTitle {
  width: 100%;
  float: left;
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
.faqItem .faqTitle i {
  float: right;
  margin-top: 7px;
}
.faqItem .faqTitle:hover {
  opacity: 0.8;
}
.faqItem .faqCt {
  width: 100%;
  float: left;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
  padding-top: 20px;
  display: none;
}

.contactContainer {
  width: 100%;
  float: left;
  margin: 50px 0;
  text-align: center;
}
.contactContainer .contactText {
  width: 100%;
  float: left;
  font-size: 15px;
  color: #fff;
  margin-bottom: 20px;
}
.contactContainer .contactText a {
  color: #fff;
}
.contactContainer .contactText a:hover {
  text-decoration: underline;
}
.contactContainer .ci {
  font-size: 30px;
  color: #fff;
  padding: 10px 15px;
}
.contactContainer .ci:hover {
  opacity: 0.8;
}

.maxFullImage {
  width: 100%;
  float: left;
  text-align: center;
}
.maxFullImage img {
  max-width: 100%;
}

.mainPopup {
  width: 100%;
  height: 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999;
}
.mainPopup.showPopup {
  height: 100%;
}
.mainPopup.showPopup .mpFilter {
  height: 100%;
  top: 0;
  opacity: 1;
}
.mainPopup.showPopup .mpContent {
  top: 50%;
  opacity: 1;
}
.mainPopup .mpFilter {
  width: 100%;
  height: 0;
  position: fixed;
  left: 0;
  top: 50%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
}
.mainPopup .mpContent {
  width: 800px;
  max-width: calc(100% - 30px);
  position: fixed;
  left: 50%;
  top: -100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #232325;
  border-radius: 20px;
  z-index: 1;
  opacity: 0;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
.mainPopup .mpcTitle {
  width: 100%;
  height: auto;
  float: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.mainPopup .mpcTitle .title {
  width: calc(100% - 60px);
  height: 60px;
  float: left;
  line-height: 60px;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  padding-left: 25px;
}
.mainPopup .mpcTitle .mpcClose {
  width: 60px;
  height: 60px;
  float: right;
  text-align: center;
  line-height: 60px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 17px;
  cursor: pointer;
}
.mainPopup .mpcTitle .mpcClose:hover {
  color: rgba(255, 255, 255, 0.8);
}
.mainPopup .mpcScroller {
  width: 100%;
  height: auto;
  float: left;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  padding: 25px;
  max-height: calc(100vh - 250px);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-color: #434343 transparent;
}
.mainPopup .mpcScroller::-webkit-scrollbar {
  width: 17px;
  position: absolute;
  right: 0;
  top: 0;
}
.mainPopup .mpcScroller::-webkit-scrollbar-track {
  background: transparent;
}
.mainPopup .mpcScroller::-webkit-scrollbar-thumb {
  background-color: #434343;
  outline: 1px solid #434343;
}

@media (max-width: 1700px) {
  .charityContainer .charityRight {
    padding-right: 0;
  }
}
@media (max-width: 1500px) {
  .mainBanner .bannerLogo {
    width: 53%;
    right: -5%;
  }

  .verseContainer .verseLeft {
    padding: 40px 70px;
  }

  .verseContainer .mainTitle:before,
.verseContainer .mainTitle:after {
    display: none;
  }

  .charityContainer .charityBox {
    display: block;
  }

  .charityContainer .charityBox .cbLeft {
    text-align: center;
    width: 100%;
    padding-top: 0;
    margin-bottom: 15px;
  }

  .charityContainer .charityBox .cbRight {
    width: 100%;
    text-align: center;
  }

  .header.scrolled .mainMenu li,
.header .mainMenu li {
    font-size: 14px;
    margin: 0 10px;
  }
}
@media (max-width: 1300px) {
  .bannerBand .bbItem {
    padding: 0 15px;
  }

  .bannerBand .bbItem .bbiVal {
    font-size: 24px;
  }

  .bannerBand .bbItem .bbiLeft {
    font-size: 13px;
  }

  .charityContainer .card {
    width: 350px;
  }

  .charityContainer .charityRight {
    width: calc(100% - 400px);
  }

  .charityContainer .mainTitle:before,
.charityContainer .mainTitle:after {
    display: none;
  }

  .header .mobileMenuTrigger {
    width: 50px;
    height: 50px;
    float: left;
    margin: 25px 10px 25px 0;
    display: block;
    position: relative;
    cursor: pointer;
  }

  .header .mobileMenuTrigger .mmt {
    width: 20px;
    height: 4px;
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    left: 13px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    border-radius: 2px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }

  .header .mobileMenuTrigger .mmt:before {
    width: 24px;
    height: 4px;
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    left: 0;
    top: -8px;
    border-radius: 2px;
    content: " ";
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }

  .header .mobileMenuTrigger .mmt:after {
    width: 22px;
    height: 4px;
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    left: 0;
    top: 8px;
    border-radius: 2px;
    content: " ";
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }

  .header .mobileMenuTrigger:hover .mmt {
    width: 22px;
    background: rgb(255, 255, 255);
  }

  .header .mobileMenuTrigger:hover .mmt:before {
    width: 16px;
    background: rgb(255, 255, 255);
  }

  .header .mobileMenuTrigger:hover .mmt:after {
    width: 20px;
    background: rgb(255, 255, 255);
  }

  .header .headerRight {
    width: 100%;
    height: 100%;
    position: fixed;
    right: -100vw;
    top: 0;
    margin: 0 !important;
    background-color: rgba(17, 18, 25, 0.84);
    z-index: 999;
    padding-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 0;
  }

  .header .headerRight .mmClose {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    cursor: pointer;
  }

  .header .headerRight .mmClose:before {
    width: 40px;
    height: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -1px -20px;
    background-color: rgba(255, 255, 255, 0.6);
    content: "  ";
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }

  .header .headerRight .mmClose:after {
    width: 40px;
    height: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -1px -20px;
    background-color: rgba(255, 255, 255, 0.6);
    content: "  ";
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }

  .header .headerRight .mmClose:hover:before {
    background-color: #fff;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }

  .header .headerRight .mmClose:hover:after {
    background-color: #fff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .header .mainMenu {
    width: 300px;
    float: right;
  }

  .header .mainMenu li {
    width: 100%;
    float: right;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    height: auto;
  }

  .header .headerRight.showMenu {
    right: 0;
    opacity: 1;
  }
}
@media (max-width: 1200px) {
  .mainBanner .bannerContent {
    width: 50%;
  }

  .mainBanner .bannerContent .bct1 {
    font-size: 50px;
    line-height: 65px;
  }

  .mainBanner .bannerContent .bct2 {
    font-size: 46px;
    line-height: 56px;
  }

  .mainBanner .bannerContent .bct3 {
    font-size: 65px;
    line-height: 75px;
  }

  .mainBanner .bannerContent .bcText {
    font-size: 12px;
    margin-top: 20px;
  }

  .mainBanner .bannerLogo {
    width: 60%;
    opacity: 0.7;
  }

  .verseContainer .verseLeft {
    width: 100%;
  }

  .verseContainer .verseRight {
    width: 80%;
    margin: 0 10%;
  }
  .verseContainer .verseRight img {
    width: 100%;
    margin-bottom:50px;
  }
}
@media (max-width: 1100px) {
  .collectionWidget .collectionBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .collectionWidget .collectionBox .tgbLeft {
    width: 100%;
    float: left;
    text-align: center;
    border: none;
    padding: 0;
    margin: 0;
  }

  .daoContainer .daoContent {
    margin: 10% 5% 10% 0;
    width: 47%;
  }

  .teamBoxes .teamBox .tbName {
    font-size: 18px;
  }

  .teamBoxes .teamBox .tbTitle {
    font-size: 13px;
  }
}
@media (max-width: 1000px) {
  .bannerBand {
    padding: 10px;
  }

  .bannerBand .bbItem {
    width: 50%;
    height: auto;
    padding: 10px;
  }
  .bannerBand .bbItem:nth-child(2), .bannerBand .bbItem:nth-child(1) {
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  }
  .bannerBand .bbItem:nth-child(2) {
    border-right: none;
  }

  .bannerBand .bbItem .bbiLeft br {
    display: none;
  }

  .collectionWidget .cRow2 .cr2-9,
.collectionWidget .cRow2 .cr2-1 {
    display: none;
  }

  .collectionWidget .cRow1 .cr1-1,
.collectionWidget .cRow1 .cr1-2 {
    width: 100%;
  }

  .collectionWidget .cRow2 {
    margin-top: -7%;
  }

  .collectionWidget .cRow2 .cr2-2,
.collectionWidget .cRow2 .cr2-3,
.collectionWidget .cRow2 .cr2-7,
.collectionWidget .cRow2 .cr2-8 {
    width: 15%;
    margin: 0 -3%;
  }

  .collectionWidget .cRow2 .cr2-4,
.collectionWidget .cRow2 .cr2-6 {
    width: 19%;
  }

  .collectionWidget .cRow2 .cr2-5 {
    width: 21%;
  }
}
@media (max-width: 900px) {
  .mainBanner .bannerContent .bannerButtons .bbBt {
    font-size: 13px;
  }

  .mainBanner .bannerContent .bannerButtons .bbBt img {
    height: 20px;
  }

  .collectionWidget {
    padding: 70px 15px 0 15px;
  }

  .daoContainer .daoImg {
    width: 100%;
    max-width: none;
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
  }

  .daoContainer .daoContent {
    width: 86%;
    float: left;
    margin: 20% 7% 15% 7%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    position: relative;
    z-index: 9;
    padding: 25px;
  }

  .daoContainer .daoContent .mainTitle {
    margin-top: 0;
  }

  .daoContainer .daoContent .mainTitle:before,
.daoContainer .daoContent .mainTitle:after {
    display: none;
  }

  .mainTitle .title {
    font-size: 40px;
  }

  .ecoContainer .textContainer {
    padding: 0;
  }

  .verseContainer {
    width: calc(100% - 40px);
    margin: 0 20px;
  }

  .charityContainer .charityWrapper {
    width: 100%;
    text-align: center;
  }

  .charityContainer .card {
    display: inline-block;
    float: none;
    max-width: 320px;
    width: 100%;
  }

  .charityContainer .charityRight {
    width: 100%;
    margin-top: 10px;
    padding-top: 0;
  }

  .teamBoxes .teamBox {
    width: 33.3%;
  }
}
@media (max-width: 800px) {
  .mainBanner {
    min-height:0;
  }
  .mainBanner .bannerLogo {
    width: 100%;
    height: calc(100% - 300px);
    opacity: 0.1;
    right: 0;
  }

  .mainBanner .bannerContent {
    width: 100%;
    padding-top: 0;
    margin-top: 150px;
  }

  .collectionWidget .collectionBox .topGradientShadow {
    width: 96%;
    margin: 0 2%;
    top: -44px;
  }

  .collectionWidget .collectionBox .topGradientShadow:before {
    -webkit-transform: rotateX(45deg);
            transform: rotateX(45deg);
  }

  .verseContainer .verseLeft {
    padding: 40px;
  }

  .verseContainer .mainTitle {
    margin-top: 0;
  }

  .teamContainer {
    margin: 30px 0;
  }
}
@media (max-width: 700px) {
  .bannerBand .bbItem {
    display: block;
  }

  .bannerBand .bbItem .bbiVal,
.bannerBand .bbItem .bbiLeft {
    width: 100%;
    float: left;
    text-align: left;
    display: block;
  }

  .collectionWidget .cRow2 .cr2-2,
.collectionWidget .cRow2 .cr2-8 {
    width: 20%;
    margin: 0 -3%;
  }

  .collectionWidget .cRow1 .cr1-1,
.collectionWidget .cRow1 .cr1-2 {
    width: 100%;
  }

  .collectionWidget .cRow2 {
    margin-top: -12%;
  }

  .collectionWidget .cRow2 .cr2-3,
.collectionWidget .cRow2 .cr2-7 {
    width: 20%;
    margin: 0 -3%;
    display: none;
  }

  .collectionWidget .cRow2 .cr2-4,
.collectionWidget .cRow2 .cr2-6 {
    width: 25%;
    margin: 0 -5%;
  }

  .collectionWidget .cRow2 .cr2-5 {
    width: 30%;
  }

  .verseContainer .verseRight {
    width: 100%;
    margin: 0;
  }

  .teamBoxes .teamBox {
    width: 50%;
  }

  .faqItem .faqTitle {
    font-size: 17px;
  }

  .faqItem .faqCt {
    font-size: 13px;
  }
}
@media (max-width: 600px) {
  .mainBanner .bannerLogo {
    height: calc(100% - 500px);
  }

  .header .logo {
    width: 184px;
  }

  .header .mobileMenuTrigger {
    margin: 15px 10px 15px -10px;
  }

  .mainBanner .bannerContent .bct1 {
    font-size: 40px;
    line-height: 50px;
  }

  .mainBanner .bannerContent .bct2 {
    font-size: 38px;
    line-height: 48px;
  }

  .mainBanner .bannerContent .bct3 {
    font-size: 53px;
    line-height: 63px;
  }

  .collectionWidget .collectionBox {
    padding: 25px;
  }

  .collectionWidget .collectionBox .tgbLeft {
    font-size: 25px;
    white-space: normal;
    text-align: left;
  }

  .collectionWidget .collectionBox .tgbRight {
    font-size: 13px;
  }

  .collectionWidget .collectionBox .topGradientShadow {
    width: 97%;
    margin: 0 1.5%;
  }

  .mainTitle .title {
    font-size: 35px;
  }

  .textContainer {
    font-size: 14px;
  }

  .daoContainer .daoBg {
    display: none;
  }

  .daoContainer {
    min-height: 590px;
  }

  .verseContainer .verseLeft {
    padding: 25px;
  }

  .charityContainer {
    padding: 0 15px;
  }

  .charityBox .topGradientShadow {
    width: 98%;
    margin: 0 1%;
  }

  .charityContainer {
    margin: 40px 0;
  }

  .rmWrapper .rmItem .rmiLeft .rlPhase {
    font-size: 16px;
  }

  .rmWrapper .rmItem .rmiLeft .rlTitle {
    font-size: 24px;
  }

  .rmWrapper .rmItem .rrBox .rrbTitle {
    font-size: 18px;
  }

  .rmWrapper .rmItem .rrBox .rrbText {
    font-size: 14px;
  }

  .rmWrapper .rmItem .rmiRight,
.rmWrapper .rmItem .rmiLeft {
    width: calc(50% - 30px);
  }

  .rmWrapper .rmItem .rmiLeft:before {
    width: 24px;
    height: 24px;
    right: -42px;
  }
}
@media (max-width: 500px) {
  .collectionWidget .cRow1 .cr1-1,
.collectionWidget .cRow1 .cr1-2 {
    width: 100%;
  }

  .collectionWidget .cRow2 {
    margin-top: -22%;
  }

  .collectionWidget .cRow2 .cr2-2,
.collectionWidget .cRow2 .cr2-8 {
    display: block;
    width: 24%;
  }

  .collectionWidget .cRow2 .cr2-3,
.collectionWidget .cRow2 .cr2-7 {
    display: none;
  }

  .collectionWidget .cRow2 .cr2-4,
.collectionWidget .cRow2 .cr2-6 {
    width: 30%;
    margin: 0 -5%;
  }

  .collectionWidget .cRow2 .cr2-5 {
    width: 36%;
    margin: 0 -5%;
  }

  .collectionWidget {
    padding: 70px 0 0 0;
  }

  .collectionWidget .collectionBox .topGradientShadow {
    width: 100%;
    margin: 0;
    top: -50px;
  }

  .collectionWidget .collectionBox .topGradientShadow:before {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    width: 100%;
    left: 0;
  }

  .collectionWidget .collectionBox {
    border-radius: 0 0 15px 15px;
  }

  .daoContainer .daoContent {
    width: 92%;
    margin: 10% 4%;
  }

  .daoContainer {
    min-height: 0;
  }

  .verseContainer .verseRight {
    width: calc(100% + 30px);
    margin: 0 -15px;
  }

  .teamBoxes .teamBox .tbIcon {
    width: 60px;
    height: 60px;
  }

  .teamBoxes .teamBox {
    min-height: 60px;
    padding: 0 0 0 75px;
  }
}
@media (max-width: 450px) {
  .mainBanner .bannerContent .bannerButtons .bbBt {
    width: 100%;
    text-align: center;
  }

  .bannerBand .bbItem {
    padding: 5px 10px;
  }

  .bannerBand .bbItem .bbiLeft {
    font-size: 11px;
  }

  .bannerBand .bbItem .bbiVal {
    font-size: 16px;
  }

  .mainTitle .title {
    font-size: 30px;
  }

  .rmWrapper .rmItem .rmiRight,
.rmWrapper .rmItem .rmiLeft {
    width: calc(100% - 30px);
    float: right;
    text-align: left;
  }

  .rmWrapper .rmItem .rmiLeft:before {
    right: auto;
    left: -30px;
  }

  .rmWrapper:before {
    left: 12px;
  }

  .rmWrapper .rmItem .rrBox {
    margin-bottom: 20px;
  }

  .teamBoxes .teamBox {
    padding: 0;
    text-align: center;
  }

  .teamBoxes .teamBox .tbIcon {
    position: static;
    float: none;
    display: inline-block;
  }
}
@media (max-width: 400px) {
  .charityContainer .charityBox {
    margin-top: 20px;
  }

  .charityBox .topGradientShadow {
    top: -38px;
    left: 3%;
    width: 92%;
  }

  .charityBox .topGradientShadow:before {
    -webkit-transform: rotateX(60deg);
            transform: rotateX(60deg);
  }

  .faqItem {
    padding: 15px 20px;
  }
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nft-image {
  border-radius:100px;
  padding:40px;
  width:750px;
  height:auto;
}